.form {
    margin: 10px auto 30px;
    vertical-align: auto;
    width: 200px;
}
.form input {
    padding: 5px 10px;
    transition: border-color .4s ease;
    border: 1px solid;
    margin-bottom: 10px;
}
.form input:focus {
    border-color: 1px solid green;
}
.form button {
    margin-left: 45px;
}